# IDE / editor
.vscode/

# Competitive programming helpers
.cph/

__pycache__/
*.pyc

# Temp or ignored directories
# ignored/
# skipped/

# Logs and env files
*.log
.env

# OS files
.DS_Store
Thumbs.db
